# Django Settings
SECRET_KEY=your-secret-key-here
DEBUG=False
ALLOWED_HOSTS=twoja-domena.com,www.twoja-domena.com

# Database Settings
# SQLite3 - nie wymaga dodatkowej konfiguracji

# Redis Settings
REDIS_URL=redis://localhost:6379 